<div class="row">
    <div class="col-md-12">
        <h2>{{course.courseCode + " - " + course.name}}</h2>
        <div class="col-md-11">
            <hr>
        </div>
    </div>
</div>
<div class="pull-right" style="padding-left:20px; margin-top: -5px;">
<div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-sm btn-primary dropdown-toggle"
                    >
                    Manage Course <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <li><a href="#">Edit Course</a></li>
                    <li><a href="#">Delete Course</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="course.progress" aria-valuemin="0" aria-valuemax="100" style="width: 75%">{{course.progress}}</div>
      </div>
</div>
    
<div class="row" style="padding-top: 20px;">
    <table >
    <ul>
        <li>{{course.crn}}</li>
        <li>{{course.professor}}</li>
        <li>{{course.room}}</li>
    </ul>
    </table>
</div>
